@font-face {
  font-family: 'Exodus';
  src: url('../fonts/Exodus-Regular.woff') format('woff');
  src: url('../fonts/Exodus-Regular.woff2') format('woff2');
}

body {
  /*background-image: url('../img/chalkboard.jpg');*/
/*  background-color: #fff;
  color: #000;  */
  background-color: #000;
  color: #fff;
  font-family: 'Poppins';
  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*font-style: italic;*/
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
}

img {
  width: auto !important;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: rgba(255, 255, 255, 0.5);
 }
a.white-link {
  color: #fff;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.25)*/
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 150%;
}
a.white-link:hover {
  color: rgba(255, 255, 255, 0.5);
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.1);*/
}
a.black-link {
  color: #000;
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 150%;
  /*border-bottom: 1px solid rgba(0,0,0,0.25);*/
}
a.black-link:hover {
  color: rgba(0,0,0,0.5);
}
a.white-link {
  color: #fff;
  text-decoration: none;
  /*border-bottom: 1px solid #fff;*/
}
a.white-link:hover {
  color: rgba(225,225,225,0.5);
}
a.red-link {
  color: #f00;
}
a.blank-link {
  text-decoration: none;
  color: inherit;
  cursor: inherit;
}
a.blank-link:hover {
  text-decoration: none;
  color: inherit;
  cursor: inherit;
}

span.black-text {
  color: #000;
}


h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 52px;
  line-height: 1.25;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  /*color: #A09A8D;*/
  font-weight: 500;
  line-height: 1.25;
  /*color: #24ea53;*/
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  /*color: #A09A8D;*/
  font-weight: 300;
}

span.portfolio-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 5vw;
  line-height: 1.5;
/*  background: url(../img/link.svg);
  background-repeat: no-repeat;
  background-size: 7%;
  background-position-x: left;
  background-position-y: 45%;
  padding-left: 4%;*/
}

span.portfolio-desc {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 150%;
  line-height: 1.5;
}

span.portfolio-desc-soon {
  font-family: 'Poppins';
  font-weight: 700;
  /* font-style: italic; */
  font-size: 150%;
  line-height: 1.5;
  opacity: 0.25;
}


.t-a-right {
  text-align: right;
}
.t-a-left {
  text-align: left;
}
.t-a-center {
  text-align: center;
}

.m-top-10 {
margin-top: 10px;
}
.m-top-15 {
margin-top: 15px;
}
.m-top-20 {
margin-top: 20px;
}
.m-top-30 {
margin-top: 30px;
}
.m-top-40 {
margin-top: 40px;
}
.m-top-50 {
margin-top: 50px;
}
.m-top-100 {
margin-top: 100px;
}
.m-top-150 {
margin-top: 150px;
}
.m-top-200 {
  margin-top: 200px;
}
.p-top-10 {
padding-top: 10px;
}
.p-top-20 {
padding-top: 20px;
}
.p-top-30 {
padding-top: 30px;
}
.p-top-40 {
padding-top: 40px;
}
.p-top-50 {
padding-top: 50px;
}
.p-top-100 {
padding-top: 100px;
}
.p-top-150 {
padding-top: 150px;
}
.p-top-200 {
padding-top: 200px;
}

/*TOP MENU*/
.top-menu {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
  font-size: 18px;
  line-height: 1.25;
}

.tag {
  display: inline-block;
  width: 30%;
  height: 50px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  line-height: 1.7;
  padding: 0px 10px 0px 8px;
  margin: 0px 5px;
  color: white;
  /* background-color: gold; */
  border: 1px solid white;
  /* border-radius: 25px; */
  text-transform: uppercase;
}
.tag:hover {
  color: #ddff45;
  background-color: #fe37c2;
  border-color: #fe37c2;
  cursor: pointer;
}
.tag-active {
  display: inline-block;
  width: 32%;
  height: 50px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  line-height: 1.7;
  padding: 0px 10px 0px 8px;
  margin: 0px 5px;
  color: black;
  background-color: white;
  border: 1px solid whie;
  /* border-radius: 25px; */
  text-transform: uppercase;
}
/* .tag-active:hover {
  border: 1px solid gold;
  color: black;
  background-color: gold;
  cursor: none;
} */

/*#tag-motion {
  color: gold;
  border: 1px solid gold;
}
#tag-motion:hover {
  color: #000;
  background-color: gold;
}
#tag-3d {
  color: goldenrod;
  border: 1px solid goldenrod;
}
#tag-3d:hover {
  color: #000;
  background-color: goldenrod;
}*/

/*CARD DESIGN*/
div.card-container {
  position: relative;
  overflow: hidden;
  width: 29%;
  /*height: 650px;*/
  padding-top: 45%;
  float: left;
  margin: 2%;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
-webkit-transform: rotate(0.000001deg);
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
/*transform:matrix(0.94,0.03,-0.19,1.27,0,0);
-ms-transform:matrix(0.94,0.03,-0.19,1.27,0,0);
-webkit-transform:matrix(0.94,0.03,-0.19,1.27,0,0);*/

  /*border-radius: 10px;*/
  /*background-color: black;*/
background: #C6FFDD;
/*background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
*/}
@media only screen and (max-width: 1000px) {
  div.card-container {
    position: relative;
    width: 87%;
    padding-top: 130%;
    /*height: 300px;*/
    float: none;
    margin: 3% auto;
  }
}

span#portfolio-link-fbprint {
  color: #fff;
}

span.arrow-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.25;
  font-size: calc(2vw + 2vh + 2vmin);
}

div.card-container:hover {
  /*outline: 5px solid grey;*/
/*  -webkit-box-shadow: 0px 20px 0px -9px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 20px 0px -9px rgba(0,0,0,0.5);
box-shadow: 0px 20px 0px -9px rgba(0,0,0,0.5);*/
}

div.video-container {
  position: absolute;
  left: 0;
  top: 0;
}

/*.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/

textarea#exodus {
  width: 100%;
  height: 30vh;
  color: white;
  background-color: black;
  font-size: calc(3.5vw + 3.5vh + 2vmin);
  font-family: 'Exodus';
  text-align: center;
  border: none;
  overflow: hidden;
  outline: none;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

div.pointer-area {
  position: absolute;
  top: 0;
  left: 50px;
  /*outline: 1px solid black; */
  height: 100%;
  width: 90%;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 300%;
  }
}
