@import url('../fonts/font-lack.css');

@font-face { font-family: 'Lack-Regular'; src: url('../fonts/Lack-Regular.woff'); }
@font-face { font-family: 'Lack-Italic'; src: url('../fonts/Lack-Italic.woff'); }
@font-face { font-family: 'Lack-Line-Regular'; src: url('../fonts/Lack-Line-Regular.woff'); }
@font-face { font-family: 'Lack-Line-Italic'; src: url('../fonts/Lack-Line-Italic.woff'); }

body {
  /*background-image: url('../img/chalkboard.jpg');*/
  background-color: #fff;
  color: #000;  
  /*background-color: #000;*/
  /*color: #fff;*/
  /*font-family: 'Lack-Regular';*/
  font-family: 'Source Sans Pro', sans-serif;
  /*font-style: italic;*/
  font-weight: 300;
  font-size: 30px;
  line-height: 1.2;
  /*background-size: cover;*/
}

img {
  width: auto !important;
  max-width: 100%;
}

a.white-link {
  color: #fff;
}
a:hover {
  color: rgba(255, 255, 255, 0.5);
}
a.black-link {
  color: #000;
}
a.black-link:hover {
  color: rgba(0,0,0,0.5);
}
a.white-link {
  color: #fff;
}
a.white-link:hover {
  color: rgba(225,225,225,0.5);
}
a.red-link {
  color: #f00;
}

span.black-text {
  color: #000;
}

div.portfolio-link-container {

}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 72px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 120px;
  /*color: #A09A8D;*/
  font-weight: 600;
  /*color: #24ea53;*/
}

span.portfolio-link {
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  font-size: 48px;
}
span.portfolio-desc {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 48px;
}

.t-a-right {
  text-align: right;
}
.t-a-left {
  text-align: left;
}
.t-a-center {
  text-align: center;
}

.m-top-10 {
margin-top: 10px;
}
.m-top-20 {
margin-top: 20px;  
}
.m-top-30 {
margin-top: 30px;  
}
.m-top-40 {
margin-top: 40px;  
}
.m-top-50 {
margin-top: 50px;  
}
.m-top-100 {
margin-top: 100px;  
}
.m-top-150 {
margin-top: 150px;  
}
.p-top-10 {
padding-top: 10px;
}
.p-top-20 {
padding-top: 20px;  
}
.p-top-30 {
padding-top: 30px;  
}
.p-top-40 {
padding-top: 40px;  
}
.p-top-50 {
padding-top: 50px;  
}
.p-top-100 {
padding-top: 100px;  
}
.p-top-150 {
padding-top: 150px;  
}
.p-top-200 {
padding-top: 200px;  
}

/*CARD DESIGN*/
div.card-container {
  position: relative;
  overflow: hidden;
  width: 25%;
  /*height: 650px;*/
  padding-top: 35%;
  float: left;
  margin: 5% 7% 0 0;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); 
-webkit-transform: rotate(0.000001deg); 
-webkit-border-radius: 50px; 
-moz-border-radius: 50px;
border-radius: 50px; 
/*transform:matrix(0.94,0.03,-0.19,1.27,0,0);
-ms-transform:matrix(0.94,0.03,-0.19,1.27,0,0);
-webkit-transform:matrix(0.94,0.03,-0.19,1.27,0,0);*/

  /*border-radius: 10px;*/
  /*background-color: black;*/
/*background: #C6FFDD;
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);*/
}
@media screen and (max-width: 799px) {
  div.card-container {
    width: 200px;
    height: 300px;
    float: left;
  }
}

div.card-container:hover {
  /*outline: 5px solid grey;*/
  -webkit-box-shadow: 0px 11px 32px -17px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 11px 32px -17px rgba(0,0,0,0.5);
box-shadow: 0px 11px 32px -17px rgba(0,0,0,0.5);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); 
-webkit-transform: rotate(0.000001deg); 
-webkit-border-radius: 50px; 
-moz-border-radius: 50px;
border-radius: 50px; 

}

div.video-container {
  position: absolute;
  left: 0;
  top: 0;
}

div.card-style {

}


/*STRIZH B*/
div.strizh-b-sticker-c {
  position: relative;
  width: 25%;
  top: 12%;
  left: 50%;
}


@media screen and (max-width: 1000px) {
  body {
    font-size: 300%;
  }
}

/*.tool-1, .tool-2, .tool-3, .tool-4, .tool-5, .tool-6, .egg-1, .egg-2, .egg-3, .box-1, .box-2, .box-3 {
  visibility: hidden;
  transform: scale(7);
  transition: transform ease-in 0.1s;
}
.pump-sticker {
  visibility: visible;
  transform: scale(1);
  transition: transform ease-in 0.1s;
}
.pump-sticker-s {
  display: block;
  transform: scale(1);
  transition: transform ease-in 0.1s;
}*/