@import url(styles.css);

body {
  background-color: #fff;
}

.tool-0, .tool-1, .tool-2, .tool-3, .tool-4, .tool-5, .tool-6, #strizh-title, .egg-1, .egg-2, .egg-3 {
  cursor: move;
}

.tool-0-c {
  position: absolute; 
  top: 145%; 
  left: 4%; 
  width: 25%;
}
.tool-1-c {
  position: absolute; 
  top: 145%; 
  left: 13%; 
  width: 25%;
}
.tool-2-c {
  position: absolute; 
  top: 145%; 
  left: 7%; 
  width: 25%;
}
.tool-3-c {
  position: absolute; 
  top: 145%; 
  left: 7%; 
  width: 25%;
}
.tool-4-c {
  position: absolute; 
  top: 145%; 
  left: 7%; 
  width: 25%;
}
.tool-5-c {
  position: absolute; 
  top: 145%; 
  left: 23%; 
  width: 25%;
}
.tool-6-c {
  position: absolute; 
  top: 145%; 
  left: 13%; 
  width: 25%;
}

/*STRIZH B*/
/*.tool-0-c {
  position: absolute; 
  top: 30%; 
  left: 34%; 
  width: 35%;
}
.tool-1-c {
  position: absolute; 
  top: 30%; 
  left: 34%; 
  width: 35%;
}.tool-0-c {
  position: absolute; 
  top: 30%; 
  left: 34%; 
  width: 35%;
}
.tool-1-c {
  position: absolute; 
  top: 30%; 
  left: 34%; 
  width: 35%;
}
.tool-2-c {
  position: absolute; 
  top: 11%; 
  left: 23%; 
  width: 25%;
}
.tool-3-c {
  position: absolute; 
  top: -3%; 
  left: 18%; 
  width: 45%;
}
.tool-4-c {
  position: absolute; 
  top: 30%; 
  left: 40%; 
  width: 45%;
}
.tool-5-c {
  position: absolute; 
  top: 25%; 
  left: 40%; 
  width: 35%;
}
.tool-6-c {
  position: absolute; 
  top: 25%; 
  left: 40%; 
  width: 35%;
}*/