@import url(styles.css);

div.top-container {
  /*background-color: #000;*/
  height: 200vh;
  /*background-image: url('../img/strizh-background.svg');*/
}

div.paragraph-container {
  /*background-color: #0000ff;*/
  min-height: 100vh;
  transform: scale(1);
  background-color: #fff;
  /*color: #fff;*/
}
/*div.paragraph-container:after {
  content: '';
  height: 100px;
  width: 100%;
  background-color: #fff0ec;
  background-image: url('../img/red-triangle.svg');
  background-repeat: repeat-x;
}*/
div.paragraph {
  background-color: #0000ff;
  color: #fff;
  font-size: 42px;
}

.tool-0, .tool-1, .tool-2, .tool-3, .tool-4, .tool-5, .tool-6, .egg-1, .egg-2, .egg-3 {
  cursor: move;
}
.pointer-area {
  cursor: e-resize;
}
.info-button, .close-button, .box-1, .box-2, .box-3 {
  cursor: pointer;
}

.tool-0, .tool-1, .tool-2, .tool-3, .tool-4, .tool-5, .tool-6, .egg-1, .egg-2, .egg-3, .box-1, .box-2, .box-3 {
  visibility: hidden;
  /*display: none;*/
  transform: scale(7);
  transition: transform ease-in 0.1s;
}
/*.box-3 {
  display: block;
  transform: scale(3);
  transition: transform ease-in 0.1s;
}*/
.pump-sticker {
  visibility: visible;
  /*display: block;*/
  transform: scale(1);
  transition: transform ease-in 0.1s;
}
.pump-sticker-s {
  display: block;
  transform: scale(1);
  transition: transform ease-in 0.1s;
}
.tool-0-c {
  position: fixed; 
  top: 30%; 
  left: 34%; 
  width: 35%;
}
.tool-1-c {
  position: fixed; 
  top: 30%; 
  left: 34%; 
  width: 35%;
}
.tool-2-c {
  position: fixed; 
  top: 11%; 
  left: 23%; 
  width: 25%;
}
.tool-3-c {
  position: fixed; 
  top: -3%; 
  left: 18%; 
  width: 45%;
}
.tool-4-c {
  position: fixed; 
  top: 30%; 
  left: 40%; 
  width: 45%;
}
.tool-5-c {
  position: fixed; 
  top: 25%; 
  left: 40%; 
  width: 35%;
}
.tool-6-c {
  position: fixed; 
  top: 25%; 
  left: 40%; 
  width: 35%;
}

.box-1-c {
  position: fixed; 
  top: 55%; 
  left: 82%; 
  width: 15%;
}
.box-2-c {
  position: fixed; 
  top: 17%; 
  left: 3%; 
  width: 25%;
}
.box-3-c {
  position: fixed; 
  top: 10%; 
  left: 42%; 
  width: 29%;
}

